Databases and Datamining - Assignment 3

Written by Lucas van Dijk (1537725)

Abstract

Blaat

Introduction

gdfgsdfgsdfg

Statistical Report

In [1]:
import pandas

df = pandas.read_csv(
    "data/adult.data",
    engine='c',
    lineterminator='\n',
    
    names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
           'marital-status', 'occupation', 'relationship', 'race', 'sex', 
           'captital-gain', 'capital-loss', 'hours-per-week', 
           'native-country', 'income'],
    header=None
)

df.describe()

,age,fnlwgt,education-num,captital-gain,capital-loss,hours-per-week
count,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,189778.366512,10.080679,1077.648844,87.303830,40.437456
std,13.640433,105549.977697,2.572720,7385.292085,402.960219,12.347429
min,17.000000,12285.000000,1.000000,0.000000,0.000000,1.000000
25%,28.000000,117827.000000,9.000000,0.000000,0.000000,40.000000
50%,37.000000,178356.000000,10.000000,0.000000,0.000000,40.000000
75%,48.000000,237051.000000,12.000000,0.000000,0.000000,45.000000
max,90.000000,1484705.000000,16.000000,99999.000000,4356.000000,99.000000